fastapi
uvicorn
python-multipart
mysql-connector-python
python-jose
passlib
bcrypt
sentence-transformers
faiss-cpu
numpy
langchain
langchain-text-splitters
PyMuPDF
python-docx
groq
python-dotenv
pydantic
typing-extensions
