# Frontend
research-intelligence/node_modules/
research-intelligence/dist/


# Backend
research-assistant-auth/__pycache__/
research-assistant-auth/uploads/
research-assistant-auth/documents/

# Environment files
research-assistant-auth/.env
research-intelligence/.env

research-assistant-auth/utils/__pycache__/



# General
*.log